body {
    background: gainsboro;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    margin: 0 auto;
    text-align: center;
    max-width: 1000px;
}

button {
    height: 2.3em;
    width: 5.5em;
    border: none;
    color: black;
    border: 1px solid gray;
    cursor: pointer
}
.start-btn {
    background-color: chartreuse;
}

.pause-btn {
    background-color: lightslategrey;
    color: aliceblue;
}

.reset-btn {
    background-color: red;
}
